node_modules/
build/*.js
dist/*.js
lib/*.js
es/*.js
esm/*.js

test/*.js
tests/*.js
*.test.js
coverage/*.js
coverage/*
jest/*.js
__tests__/*
__tests__/*.js
__mocks__/*
__mocks__/*.js
*.config.js
*.config.*.js
*.config/*.js
