node_modules

*.config.js
*.config.*.js
*.config/*.js
*.test.js
__tests__/*
__tests__/*.js
__mocks__/*
__mocks__/*.js
coverage/*
coverage/*.js
dist/*.js
es/*.js
esm/*.js
lib/*.js
build/*.js
test/*.js
tests/*.js
jest/*.js

